body{
    background-color: #1F1926;
}

#login{
    background-color: #FEF6FF;
    max-width: 500px !important;
    margin-top: 7vh;
    box-shadow: 18px 18px 30px black;
}
@media (max-width: 768px) {
    #login{
        width:80% !important;
    }
    h2{
        font-size: 1.75rem;
    }
   
}

input[type="submit"]{
    background-color: #9C89B3;
}

img{
    max-width: 45% !important;
    min-width: 150px;
    clip-path: circle(50.0% at 50% 50%);
}